* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-lunares-vector-pequenos-puntos_1017-13972.jpg);
}
.header {
  background-color: #fffdfd;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 769px) {
  .header {
    height: 616px;
  }
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 17px;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .nav-bar {
    padding: 36px 80px;
  }
}

.logo-j {
  width: 54px;
  height: 50px;
}

@media (min-width: 769px) {
  .logo-j {
    width: 109px;
    height: 109px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 769px) {
  .menu {
    display: none;
  }
}
.barra-menu {
  background-color: #000;
  margin: 3.5px;
  width: 36px;
  height: 6px;
}

.menu-desktop {
  display: none;
}

@media (min-width: 769px) {
  .menu-desktop {
    width: 428px;
    display: flex;
    justify-content: space-between;
  }
}

.link-nav {
  color: #000;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.link-nav:hover {
  color: #1877f2;
}

.presentacion-del-sitio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 769px) {
  .presentacion-del-sitio {
    padding: 0 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.titulo-de-bienvenida {
  font-size: 48px;
  text-align: center;
  font-family: "Secular One", sans-serif;
}

@media (min-width: 769px) {
  .titulo-de-bienvenida {
    font-size: 48px;
    text-align: center;
    margin: 0 0 220px 0;
  }
}

.mi-foto {
  width: 318px;
  height: 300px;
}

@media (min-width: 769px) {
  .mi-foto {
    width: 435px;
    height: 395px;
  }
}

.biografia {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  padding: 25px;
  height: 538px;
}

@media (min-width: 769px) {
  .biografia {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
}

.mi-nombre {
  margin: 55px 52px 41px 52px;
  font-size: 32px;
  color: #ffff;
  text-align: center;
  color: #fffdfd;
}

@media (min-width: 769px) {
  .mi-nombre {
    margin: 0 auto 28px 0;
    text-align: left;
  }
}

.sobre-mi {
  margin: 20px 0 0 0;
  color: white;
  padding: 32px;
}

@media (min-width: 769px) {
  .sobre-mi {
    padding: 0;
    max-width: 532px;
    margin: 0 0 0 90px;
  }
}

.img {
  width: 211px;
  height: 211px;
}

@media (min-width: 769px) {
  .img {
    margin: 0;
    width: 211px;
    height: 211px;
  }
}

.seccion-servicios {
  background-color: #fafafa;
  padding: 66px 0;
}

@media (min-width: 769px) {
  .seccion-servicios {
    height: 604px;
    padding: 0;
  }
}

.mis-servicios {
  margin-bottom: 45px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #2c2c2c;
}

@media (min-width: 769px) {
  .mis-servicios {
    font-size: 48px;
  }
}

.contenedor-servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 769px) {
  .contenedor-servicio {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 55.5px 57px;
}

.computadora {
  width: 110px;
  height: 110px;
}

.formulario {
  color: white;
  background-color: black;
  height: 660px;
  padding: 70px 20px;
}

@media (min-width: 769px) {
  .formulario {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr;
    justify-content: center;
  }
}

.titulo-formulario {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 26px;
  margin: 0;
}
@media (min-width: 769px) {
  .titulo-formulario {
    text-align: end;
    font-size: 48px;
    padding-right: 77px;
  }
}

.fieldset {
  margin-bottom: 27px;
}
.label {
  display: block;
}
.input {
  width: 100%;
  height: 45px;
  border: #2c2c2c solid;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.textarea {
  width: 100%;
  height: 113px;
  border: #2c2c2c solid;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.boton-envio {
  margin-top: 60px;
  background-color: #1877f2;
  width: 100%;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: #2c2c2c solid;
  border-radius: 7px;
}
@media (min-width: 769px) {
  .input,
  .textarea,
  .boton-envio {
    min-width: 300px;
    width: 50%;
  }
}

footer {
  background-color: #eeee;
  width: 100%;
  height: 100%;
}
@media (min-width: 769px) {
  .footer {
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo-footer {
  width: 54px;
  height: 50px;
}

@media (min-width: 769px) {
  .logo-footer {
    width: 109px;
    height: 109px;
  }
}

.derechos-de-autor {
  font-size: 20px;
}
.redes {
  margin-right: 12%;
}
.logo-y-nombre {
  margin-bottom: 29px;
  font-size: 20px;
}
@media (min-width: 769px) {
  .logo-y-nombre {
    padding-right: 25%;
  }
}

.fa-brands-fa-twitter.fa-brands-fa-linkedin.fa-brands-fa-github {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  color: #000;
}
.nombre-red {
  display: inline;
  vertical-align: middle;
  color: #2c2c2c;
}
.links {
  text-decoration: none;
}
